{% extends 'base.html' %}

{% block title %}Absences : {{ subject_id }} {% endblock %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'absence/css/style.css' %}">{% endblock %}

{% block content %}
<main>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-7">
                {% if mode == 'input' %}
                    <div class="card">
                    <div class="card-body">
                    <h2>Saisir une absence</h2>
                    <form method="post">
                        {% csrf_token %}
                        {% if level >= 1 %}
                            <div class="form-group">
                            {{ form.date.label_tag }}
                            {{ form.date }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.student.id_for_label }}">Choisir un étudiant</label>
                                <select class="form-select" aria-label="Etudiant" name="{{ form.student.name }}">
                                {% for student in form.student.field.queryset %}
                                    <option value="{{ student.pk }}" {% if form.student.value == student.pk %}selected{% endif %}>{{ student.user.username }}</option>
                                {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {% for choice in form.status.field.choices %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" 
                                    name="{{ form.status.name }}" 
                                    id="{{ form.status.name }}_{{ forloop.counter }}" 
                                    value="{{ choice.0 }}" 
                                    {% if form.status.value == choice.0 %}checked{% endif %}>
                                <label class="form-check-label" for="{{ form.status.name }}_{{ forloop.counter }}">
                                    {{ choice.1 }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </form>        
                    </div>
                    </div>
                {% elif mode == 'attendance' %}
                    <div class="card">
                    <div class="card-body">
                    <h2>Faire l'Appel</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.date.label_tag }}
                            {{ form.date }}
                        </div>
                        <div class="form-group">
                            {% for field in form %}
                            {% if field.name != 'date' %}
                                <div>
                                    <label>{{ field.label }}</label>
                                    {% for choice in field.field.choices %}
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" 
                                           name="{{ field.name }}" 
                                           id="{{ field.name }}_{{ forloop.counter }}" 
                                           value="{{ choice.0 }}" 
                                           {% if field.value == choice.0 %}checked{% endif %}>
                                        <label class="form-check-label" for="{{ field.name }}_{{ forloop.counter }}">
                                            {{ choice.1 }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </form>
                    </div>
                    </div>
                {% elif mode == 'details' %}
                    <div class="card">
                    <div class="card-body">
                        {% if level >= 1 %}
                        <h2>Absences pour {{ subject_id }}</h2>
                        {% else %}
                        <h2>Vos absences</h2>
                        {% endif %}
                        <table class="card-body">
                        <thead>
                            <tr>
                            <th>Date</th>
                            <th>Statut</th>
                            {% if level >= 1 %}
                            <th>Etudiant</th>
                            <th>Actions</th>
                            {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for absence in absences %}
                            <tr>
                                <td>{{ absence.date|date:"Y-m-d" }} {{ absence.date|time:"H:i" }}</td>
                                <td>{{ absence.get_status_display }}</td>
                                {% if level >= 1 %}
                                <td>{{ absence.student}}
                                <td>
                                    <form method="post" action="{% url 'absence:absence_delete' id=absence.subject.name %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="absence_id" value="{{ absence.id }}">
                                        <button type="submit" class="btn btn-danger">Supprimer</button>
                                    </form>
                                    <a href="{% url 'absence:absence_edit' id=absence.id %}" class="btn btn-warning">Modifier</a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                        <span>
                            {% if absences.has_previous %}
                                <a href="?details&page=1" class="btn btn-dark">&laquo; première</a>
                                <a href="?details&page={{ absences.previous_page_number }}" class="btn btn-dark">précédente</a>
                            {% endif %}
  
                        <span>
                            Page {{ absences.number }} sur {{ absences.paginator.num_pages }}.
                        </span>
  
                        {% if absences.has_next %}
                            <a href="?details&page={{ absences.next_page_number }}" class="btn btn-dark" >suivante</a>
                            <a href="?details&page={{ absences.paginator.num_pages }}" class="btn btn-dark">dernière &raquo;</a>
                        {% endif %}
                        </span>
                    </div>
                    </div>
                {% elif mode == 'attendance' %}
                    <h2>Faire l'Appel</h2>
                    <form method="post"  class="form-check form-check-inline">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Enregistrer l'Appel</button>
                    </form>
                {% endif %}
            </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <a href="?details" class="btn btn-primary mb-2">Voir le détails des absences</a>
                <a href="?" class="btn btn-primary mb-2">Saisir une absence</a>
                {% if level >= 1 %}
                <a href="?attendance" class="btn btn-primary mb-2">Faire l'appel</a>
                <a href="upload_photo" class="btn btn-primary mb-2">Activer la vérification de présence</a>
                <a href="check_photo" class="btn btn-primary mb-2">Vérifier la présence</a>
                {% endif %}
                {% if level == 0 %}
                <a href="mark_presence" class="btn btn-primary mb-2">Vérifier ma présence</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
</main>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}