{% extends 'base.html' %}
{% block title %}Gestion des Présences{% endblock %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'absence/css/style.css' %}">{% endblock %}
{% block content %}
<main>
  <div class="card">
    <div class="card-body">
      <h2>Vérification Appel</h2>
      <form method="get">
          {% csrf_token %}
         <div class="form-group">
              <label for="photo-select">Choisir une date</label>
              <select id="photo-select" class="form-select-bg" name="photo" onchange="this.form.submit()">
                  <option value="">-----------</option>
                  {% for photo in photos %}
                  <option value="{{ photo.id }}" {% if selected_photo and selected_photo.id == photo.id %}selected{% endif %}>
                      {{ photo.upload_date|date:"d M Y H:i" }}
                    </option>
                  {% endfor %}
              </select>
          </div>
      </form>

      {% if selected_photo %}
      <div id="photo-container">
          <img id="photo" src="{{ selected_photo.photo.url }}" alt="Class Photo">
          {% for pin in pins %}
          <div class="pin-c" data-x="{{ pin.x }}" data-y="{{ pin.y }}" style="left: {{ pin.x }}%; top: {{ pin.y }}%;" title="Pin de {{ pin.user }}">
            {{ pin.user }}
          </div>
          {% endfor %}
      </div>
      <div>
        <p> Nombre d'absence : {{ n_absence }}, Nombre de pins : {{ n_pin }}</p>
      </div>
      <form action="{% url 'absence:photo_delete' subject %}" method="post" class="d-inline">
        {% csrf_token %}
        <input type="hidden" name="photo_id" value="{{ selected_photo.id }}">
        <button type="submit" class="btn btn-success">Confirmer l'appel </button>
      </form>
      {% else %}
      <p>Aucune photo sélectionnée.</p>
      {% endif %}
    </div>
    <a href="{% url 'absence:absence' subject %}?details" class="btn btn-primary mb-2">Voir le détails des absences</a>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'absence/js/pin.js' %}"></script>
{% endblock %}
