{% extends 'base.html' %}

{% block title %}Gestion des Présences{% endblock %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'absence/css/style.css' %}">{% endblock %}

{% block content %}
<main>
  <div class="card">
    <div class="card-body">
      <h2>Marquer votre présence</h2>
      <form method="get">
        {% csrf_token %}
        <div class="form-group">
            <label for="photo-select">Choisir une photo</label>
            <select id="photo-select" class="form-select" name="photo" onchange="this.form.submit()">
                <option value="">Sélectionner une photo</option>
                {% for photo in photos %}
                <option value="{{ photo.id }}" {% if selected_photo and selected_photo.id == photo.id %}selected{% endif %}>
                    {{ photo.upload_date|date:"d M Y H:i" }}
                </option>
                {% endfor %}
            </select>
        </div>
      </form>
      {% if mode == "npinned" %}
        <div class="container">
          <div id="photo-container">
            <img id="photo" src="{{ selected_photo.photo.url }}" alt="Photo de la classe" class="img-fluid">
            <!-- Pins will be inserted here by JavaScript -->
          </div>
          <a href="{% url 'absence:absence' subject %}?details" class="btn btn-primary">Valider</a>
        </div>
      {% endif %}
      {% if mode == "pinned" %}
        <div class="container">
          <h2>Vous avez déja équiter votre présence</h2>
        </div>
          <a href="{% url 'absence:absence' subject %}?details" class="btn btn-secondary mb-2">Retour</a>
          <form action="{% url 'absence:mark_presence_delete' subject %}" method="post" class="d-inline">
            {% csrf_token %}
            <input type="hidden" name="pin_id" value="{{ user_pin_id }}">
            <button type="submit" class="btn btn-danger mb-2">Annuler mon équitete</button>
          </form>
        </div>
      {% endif %}
      {% if mode == "nophoto" %}
        <h2>Désolé il n'y a pas encore de photo</h2>
        <a href="{% url 'absence:absence' subject %}?details" class="btn btn-secondary">Retour au détail</a>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'absence/js/pin.js' %}"></script>
{% endblock %}
