{% extends 'base.html' %}

{% block title %}{{ id }} : Absences{% endblock %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'absence/css/style.css' %}">{% endblock %}

{% block content %}
<main>
  <div class="container d-flex flex-column align-items-center justify-content-center mt-5">
    <div class="card mb-4">
      <h2>Téléverser une photo de la classe</h2>
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
      <button type="submit" class="btn btn-success mb-2">Téléverser</button>
      </form>
      <a href="{% url 'absence:absence' id %}?details" class="btn btn-primary mb-2">Voir le détails des absences</a>
  </div>
  </div>
</main>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
