{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Group{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'group/css/style.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'group/js/detail.js' %}"></script>
{% endblock %}

{% block content %}
    <form action="{% url 'group:edit' group.id %}" method="post">
        {% csrf_token %}
        <h1>Edit Group</h1>
        <input type="text" name="name" value="{{ group.name }}" class="form-control col-6">
        <button type="submit" class="btn btn-primary col-3">Rename</button>

        {% comment %} part for listing and editing who is in this group {% endcomment %}
        <h2>Users</h2>
        <input type="text" id="userSearch" placeholder="Search" class="form-control">
        <button type="submit" class="btn btn-primary col-3">Save</button>
        <div id = "users">
            {% for user in users %}
                <div>
                    <input type="checkbox" name="users" value="{{ user.user.id }}" {% if user.in %}checked{% endif %}>
                    <h3 class="userName">{{ user.user.username }}</h3>
                </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}