{% extends "base.html" %}

{% load static %}

{% block title %}Groups{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'group/css/style.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'group/js/show.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col-md-6">
            <h1>Groups</h1>
            <input type="text" id="groupSearch" placeholder="Search" class="form-control">
            <div id="groups">
                {% for group in groups %}
                <div class="card m-2 p-3">
                    <a href={% url 'group:show' group.id %}><h2 class="groupName">{{ group.name }}</h2></a>
                    <div class="">
                        {% if level >= 1 %}
                            <a href="{% url 'group:edit' group.id %}">Edit</a>
                            <a href="{% url 'group:delete' group.id %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <br>
            {% if level >= 1 %}
                <a href="{% url 'group:create' %}">Create</a>
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="container">
                {% if not id_selected %}
                <h2> No group selected</h2>
                {% else %}
                {% for user in users %}
                <div class="card p-3 m-1">
                    <h2>{{ user.user.username }}</h2>
                    <div class="col-md-6">
                        {% comment %} {% if level >= 1 %}
                            <a href="{% url 'group:remove' id_selected user.id %}">Remove</a>
                        {% endif %} {% endcomment %}
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                <a href="{% url 'group:show' %}">Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}