{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newdle Connection</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body id="body-login">
    
    <div class="login">
        <h2 id="form-title">Login</h2>
        <form id="login-form" method="post" action="{% url 'login:log_in' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <div class="form-buttons">
                <input type="submit" value="Log in" id="login">
            </div>
        </form>
        <form id="forgot-password-form" method="post" action="{% url 'login:password_reset_request' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Your email" required>
            <div class="form-buttons">
                <input type="submit" value="Reset" id="reset">
            </div>
        </form>
        <p><a href="#" id="forgot-password-link">Forgot your password?</a></p>
    </div>
    <footer>
        <p>&copy; 2024 Newdle. All rights reserved.</p>
    </footer>
    
   
</body>
</html>
