{% extends 'base.html' %}

{% block title %}
Page formulaire de réinitialisation
{% endblock %}
    {% block content %}
<body>
    <div class="password-reset-form">
        <h2>Password Reset Form</h2>
        <p>Please enter your username below and a new password to reset your password.</p>
        <form method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password" required>
            <br>
            <label for="confirm_password">Confirm New Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
    {% endblock %}
