{% extends 'base.html' %}

{% block title %}
[{{ subject_ue.name }}] {{ subject_name }}
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>[{{ subject_ue.name }}] {{ subject.name }}</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Gestion</a>
        </li>
    </ul>
    <div class="accordion mt-3" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Gestion
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <form method="POST" id="subject_edit_form" action="">
                        {% csrf_token %}
                        <div>
                            <label for="name">Subject name:</label>
                            <input type="text" id="name" name="name" value="{{ subject.name }}" required>
                        </div>
                        <div>
                            <label for="coef">Coefficient:</label>
                            <input type="number" id="coef" name="coef" value="{{ subject.coef }}" required>
                        </div>
                        <div>
                            <label for="ue">UE:</label>
                            {% for ue in ue_list %}
                            <input type='radio' class="ue_checkbox" name="ue" value="{{ue.id}}" {% if ue.id == subject.ue.id %}checked{% endif %} required>{{ ue.name }}</input>
                            {% endfor %}
                            <br>
                            <label for="prof">Ajouter d'autre profs au cours:</label>
                            {% for prof in prof_list %}
                            <input type='checkbox' class="prof_checbkbox" name="prof" value="{{ prof.id }}" {% if prof in subject.prof.all %}checked{% endif %}>{{ prof }}</input>
                            {% endfor %}
                            
                            <br>
                            <label for="group">Groupes ayant accès au cours:</label>
                            {% for group in group_list %}
                            <input type='checkbox' class="group_checbkbox" name="group" value="{{ group.id }}" {% if group in subject.student_group.all %}checked{% endif %}>{{ group.name }}</input>
                            {% endfor %}
                
                        </div>
                
                        <button type="submit">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}