<!DOCTYPE html>
<html>

<head>
    <title>Subject Home</title>
    <h2>Connected as: {{ request.user.email }} <br> user level: {{ request.user.profil.type }}</h2>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h1>Create Subject</h1>
    <form method="POST" id="subject_create_form" action="">
        {% csrf_token %}
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="coef">Coefficient:</label>
            <input type="number" id="coef" name="coef" required>
        </div>
        <div>
            <label for="ue">UE:</label>
            {% for ue in ue_list %}
            <input type='radio' class="ue_checkbox" name="ue" value="{{ue.id}}" required>{{ ue.name }}</input>
            {% endfor %}
            <br>
            <label for="prof">Ajouter d'autre profs au cours:</label>
            {% for prof in prof_list %}
            <input type='checkbox' class="prof_checbkbox" name="prof" value="{{ prof.id }}">{{ prof }}</input>
            {% endfor %}
            
            <br>
            <label for="group">Groupes ayant accès au cours:</label>
            {% for group in group_list %}
            <input type='checkbox' class="group_checbkbox" name="group" value="{{ group.id }}">{{ group.name }}</input>
            {% endfor %}

        </div>
        <button type="submit" class="submit_button">Create</button>
    </form>

<!-- check that at least one  -->
    <script type="text/javascript"> 
        $("#subject_create_form").submit(function(e){
            var len = document.querySelectorAll('.group_checbkbox:checked').length
            //alert('# of checked ues: '+len);
            if (len <= 0) {
                e.preventDefault();
                if(!alert('Check at least one group!')){window.location.reload();}
            }
        });
        </script>
    