{% extends 'base.html' %}

{% block title %}
Nouvelle matière
{% endblock %}

{% block content %}
<div class="container my-5">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Création</a>
        </li>
    </ul>
    <div class="accordion mt-3" id="accordionExample">
        <div class="card" >
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Nouveau sujet
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <form method="POST" id="subject_create_form" action="">
                        {% csrf_token %}
                        <div>
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" required>
                        </div>
                        <div>
                            <label for="coef">Coefficient:</label>
                            <input type="number" id="coef" name="coef" required>
                        </div>
                        <div>
                            <label for="ue">UE:</label>
                            {% for ue in ue_list %}
                            <div><input type='radio' class="ue_checkbox" name="ue" value="{{ue.id}}" required>{{ ue.name }}</input></div>
                            {% endfor %}
                            <br>
                            <label for="prof">Ajouter d'autre profs au cours:</label>
                            {% for prof in prof_list %}
                            <div><input type='checkbox' class="prof_checbkbox" name="prof" value="{{ prof.id }}">{{ prof}}</input></div>
                            {% endfor %}
                            <br>
                            <label for="group">Groupes ayant accès au cours:</label>
                            {% for group in group_list %}
                            <div><input type='checkbox' class="group_checbkbox" name="group" value="{{ group.id }}">{{group.name }}</input></div>
                            {% endfor %}

                        </div>
                        <br>
                        <button type="submit" class="btn btn-info mb-2" >Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- check that at least one  -->
<script type="text/javascript">
    $("#subject_create_form").submit(function (e) {
        var len = document.querySelectorAll('.group_checbkbox:checked').length
        //alert('# of checked ues: '+len);
        if (len <= 0) {
            e.preventDefault();
            if (!alert('Check at least one group!')) { window.location.reload(); }
        }
    });
</script>

<style>

    /* Inputs */
input[type="text"],
input[type="number"] {
  background-color: var(--forms-background-color);
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

input[type="text"]:focus,
input[type="number"]:focus {
  background-color: var(--forms-background-color-focus);
  outline: none;
  box-shadow: 0 0 5px var(--primary-color-hover);
}

/* Checkboxes */
.prof_checbkbox,
.group_checbkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: var(--forms-background-color);
  border: 2px solid var(--primary-color);
  margin-right: 5px;
  cursor: pointer;
}

.prof_checbkbox:checked,
.group_checbkbox:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.prof_checbkbox:focus,
.group_checbkbox:focus {
  outline: none;
  box-shadow: 0 0 5px var(--primary-color-hover);
}

/* Radio Buttons */
.ue_checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--forms-background-color);
  border: 2px solid var(--primary-color);
  margin-right: 5px;
  cursor: pointer;
}

.ue_checkbox:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.ue_checkbox:focus {
  outline: none;
  box-shadow: 0 0 5px var(--primary-color-hover);
}

</style>
{% endblock %}