<!DOCTYPE html>
<html>

<head>
    <title>Create UE</title>
</head>

<body>
    <h1>Create UE</h1>

    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <label for="name">Ue Name:</label>
            <input type="text" id="name" name="name" required><br><br>

        </div>
        <div>
            <label for="semester">Ue semester:</label>
            <input type="text" id="semester" name="semester" required><br><br>
        </div>
        <div>
            <label for="coef">Coefficient:</label>
            <input type="number" id="coef" name="coef" required>
        </div>

        <input type="submit" value="Create ue">
    </form>
</body>

</html>