{% extends 'base.html' %}

{% block title %}
{{ ue.name }}
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>{{ ue.name }}</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Details</a>
        </li>
    </ul>
    <div class="accordion mt-3" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Généralités
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Voici la page dédiée au cours de {{ subject_name }}.</p>
                    <p>Me contacter : {% for prof in subject_prof %} - {{ prof.user.email }}{% endfor %}</p>
                    <p>Coefficient : {{ subject_coef }}</p>
                    <a href="{% url 'absence:absence' id=ue.id %}" class="btn btn-primary mb-2">Présence</a>
                    <a href="#" class="btn btn-primary mb-2">Notes</a>
                    {% if can_manage_subject %}
                    <a href="{% url 'subjects:subjects-edit-view' subject_id=subject_id %}" class="btn btn-primary mb-2">Gérer</a>
                    <a href="{% url 'subjects:subjects-delete-view' subject_id=subject_id %}" class="btn btn-primary mb-2" style="background-color: red;">Supprimer</a>
                    
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
            </div>

        </div>
    </div>
</div>
{% endblock %}