{% extends 'base.html' %}

{% block title %}
{{ ue.name }}
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>{{ ue.name }}</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Details</a>
        </li>
    </ul>
    <div class="accordion mt-3" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Généralités
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                    <p>Coefficient : {{ ue.coef }}</p>
                    <p>Semestre : {{ ue.semester }}</p>

                    {% if can_manage_ue %}
                        <a href="{% url 'subjects:ue-edit-view' ue_id=ue.id %}" class="btn btn-primary mb-2">Gérer</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
            </div>

        </div>
    </div>
</div>
{% endblock %}