<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Ue Home</title>
    <h2>Connected as: {{ request.user.email }} <br> user level: {{ request.user.profil.type }}</h2>
</head>

<body>
    <h1>Ue list</h1>
    <ul>
        {% for ue in ue_list %}
        <li>
            <div>name: {{ ue.name }}</div>

            <div>semester: {{ ue.semester }}</div>

            <div>coeff: {{ ue.coef }}</div>
            
            {% if request.user.profil.type == '1' or request.user.profil.type == '2' %}
            <a href="{% url 'ue-get-detail-view' ue_id=ue.id %}">Manage</a>
            {% endif %}
            
            
        </li>
        {% endfor %}
    </ul>

    {% if request.user.profil.type == '1' or request.user.profil.type == '2' %}
    <a href="{% url 'ue-new-view' %}">Create ue</a>
    {% endif %}

</body>

</html>