{% extends 'base.html' %}

{% block title %}
Liste des UE
{% endblock %}

{% block content %}
<main class="container mt-5">
    <h2 class="text-center text-white">Liste des UEs</h2>
    <div id="ueContainer">
        {% if request.user.profil.type != '0' %}
        <a href="{% url 'subjects:ue-new-view' %}" class="btn btn-primary mb-2">Nouvelle UE</a>
        {% endif %}
        <div class="ue-section mb-5">
            <div class="row">
                {% for ue in ue_list %}
                <div class="col-md-4 mb-4">
                    <div class="card card-subject text-black">
                        <div class="card-body">
                            
                                <h5 class="card-title">
                                    <a href="{% url 'subjects:ue-get-detail-view' ue_id=ue.id %}"><p>{{ ue.name }}</p></a>
                                    <p>Coefficient: {{ ue.coef }}</p>
                                    <p>Semestre: {{ ue.semester }}</p>
                                </h5>
                                
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}