<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Newdle{% endblock %}</title>
    {% load static %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container">
            <a class="navbar-brand" href="#">Newdle</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Absence</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Matière</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        {% block content %}
        <h1>Entrez les notes ici :</h1>
        
        <form id="note-form" method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type='Submit' value='Save'/>
        </form>
       
        {% endblock %}
    </div>

    <footer class="text-center py-3">
        <div class="container">
            <p>Créé avec ❤️ NEWDLE</p>
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Retain the selected value in the Matière field after form submission
            const matiereField = document.getElementById("id_subject");
            const savedValue = localStorage.getItem("savedMatiere");

            if (savedValue) {
                matiereField.value = savedValue;
            }

            const form = document.getElementById("note-form");
            form.addEventListener("submit", function(event) {
                localStorage.setItem("savedMatiere", matiereField.value);
            });
        });
    </script>

</body>

</html>
