<!DOCTYPE html>
<html>
<head>
    <title>List of Notes</title>
</head>
<body>
    <h1>List of Notes</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Student</th>
                <th>Subject</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
            <tr>
                <td>{{ note.student.name }}</td>
                <td>{{ note.subject.name }}</td>
                <td>{{ note.note }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
