{% extends "base.html" %}

{% block title %}Page Non Trouvée - 404{% endblock %}
{% block header %}
            <a class="navbar-brand" href="{% url 'index'%}">
                <img src="{% static 'images/logo.png' %}" alt="Logo" style="height: 30px; margin-right: 2px; margin-bottom: 5px;">Newdle</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login:log_in'%}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'eco'%}">Eco-conception</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact'%}">Contact</a>
                    </li>
                </ul>
            </div>
{% endblock %}
{% block content %}
<div class="container text-center mt-5">
    <h1 class="display-1">404</h1>
    <h2 class="mb-4">Page Non Trouvée</h2>
    <p class="lead">Désolé, la page que vous cherchez n'existe pas ou a été déplacée.</p>
    <a class="btn btn-primary mt-3" href="{% url 'index' %}">Retour à l'accueil</a>
</div>
{% endblock %}
