<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Newdle{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container">
            {% block header %}
            <a class="navbar-brand" href="{% url 'index'%}">Newdle</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login:log_in' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'notes:liste.view' %}">Notes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'absence:absence_none' %}">Absences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'subjects:subjects-home-view' %}">Matières</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <form method="post" action="{% url 'login:logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Déconnexion</button>
                            </form>
                        </a>
                    </li>
                </ul>
            </div>
            {% endblock %}
        </div>
    </nav>

    <div class="container">
        {% block content %}
        <!-- Page-specific content will be inserted here -->
        {% endblock %}
    </div>

    <footer class="text-center py-2">
        <div class="container">
            <p>&copy; 2024 Newdle. Tous droits réservés.</p>
        </div>
    </footer>
   
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>
