{% extends 'base.html' %}
{% load static %}
{% block title %}
Newdle - Page principale
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container my-5">
    <div class="row">
        <!-- Category 1 -->
        <div class="col-md-4">
            <div class="category mb-5">
                <h2 class="category-title">Matières</h2>
                <div id="subjects-container">
                    {% for item in subjects_with_absences %}
                    <div class="card mb-4 subject-card">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.subject.name }}</h5>
                            <p class="card-text">UE : {{ item.subject.ue.name }}</p>
                            <a href="/subjects/{{ item.subject.id }}" class="badge badge-warning">Voir le détails</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="subjects-pagination-controls" class="text-center mt-3">
                    <button id="subjects-prev-btn" class="btn btn-info" onclick="prevSubjectsPage()"> 
                        <i class="fa fa-chevron-left"></i>
                     </button>
                    <button id="subjects-next-btn" class="btn btn-info" onclick="nextSubjectsPage()"> 
                        <i class="fa fa-chevron-right"></i>    
                    </button>
                </div>
            </div>
        </div>
        <!-- Category 2 -->
        <div class="col-md-4">
            <div class="category mb-5">
                <h2 class="category-title">Notes</h2>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Analyse générale</h5>
                        <p class="card-text">13/20</p>
                        <a class="badge badge-warning">savoir plus ↗️</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">DDRS</h5>
                        <p class="card-text">12/20</p>
                        <a class="badge badge-warning">savoir plus ↗️</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Anglais</h5>
                        <p class="card-text">16/20</p>
                        <a class="badge badge-secondary">savoir plus ↗️</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category 3 -->
        <div class="col-md-4">
            <div class="category mb-5">
                <h2 class="category-title">Absences</h2>
                {% if type == '0' %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Mes statistiques</h5>
                        <p class="card-text">Nombre d'absence : {{ n_abs }}</p>
                        <p class="card-text">Nombre de retard : {{ n_late }}</p>
                    </div>
                </div>
                {% endif %}
                <div id="absences-container">
                    {% for item in subjects_with_absences %}
                    <div class="card mb-4 absence-card">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.subject.name }}</h5>
                            <p class="card-text">Nombre d'absences: {{ item.absence_count }}</p>
                            <a href="/absence/{{ item.subject.name }}?details" class="badge badge-warning">Voir le détails</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            <div id="pagination-controls" class="text-center mt-3">
                <button id="prev-btn" class="btn btn-info" onclick="prevPage()">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <button id="next-btn" class="btn btn-info" onclick="nextPage()">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/main_abs.js' %}"></script>
<script src="{% static 'js/main_sub.js' %}"></script>
<script>
    const userType = {{ type }};
    inititemPerPage(userType);
</script>
{% endblock %}


