{% extends 'base.html' %}

{% block title %}
Newdle - Page principale
{% endblock %}


{% block content %}
<!-- Main Content -->
<div class="container my-5">
    <div class="row">
        <!-- Category 1 -->
        <div class="col-md-4">
            <div class="category mb-5">
                <h2 class="category-title">Matières</h2>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Algo SD</h5>
                        <p class="card-text">Introduction</p>
                        <a class="badge badge-secondary">savoir plus ↗️</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">SGBD</h5>
                        <p class="card-text">Langage SQL partie 1</p>
                        <a class="badge badge-warning">savoir plus ↗️</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Calcul Matriciel</h5>
                        <p class="card-text">CM1 CM</p>
                        <a class="badge badge-secondary">savoir plus ↗️</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category 2 -->
        <div class="col-md-4">
            <div class="category mb-5">
                <h2 class="category-title">Notes</h2>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Analyse générale</h5>
                        <p class="card-text">13/20</p>
                        <a class="badge badge-warning">savoir plus ↗️</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">DDRS</h5>
                        <p class="card-text">12/20</p>
                        <a class="badge badge-warning">savoir plus ↗️</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Anglais</h5>
                        <p class="card-text">16/20</p>
                        <a class="badge badge-secondary">savoir plus ↗️</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category 3 -->
        <div class="col-md-4">
            <div class="category mb-5">
                <h2 class="category-title">Absences</h2>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Business Intelligence</h5>
                        <p class="card-text">Séance 04/06/2024</p>
                        <a class="badge badge-warning">savoir plus ↗️</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Config Base</h5>
                        <p class="card-text">Séance 29/05/2024</p>
                        <a class="badge badge-warning">savoir plus ↗️</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Anglais</h5>
                        <p class="card-text">Séance 09/03/2024</p>
                        <a class="badge badge-secondary">savoir plus ↗️</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
