<!DOCTYPE html>
<html>

<head>
    <title>Subject Home</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <h1>Welcome to the Subject Home Page</h1>
    <p>This is the home page for subjects.</p>
    <ul>
        {% for subject in subjects_list %}
        <li>
            {% if request.user.type == 0 %}
            <a href="{% url '' id= }">View Notes</a>
            {% elif request.user.type == 1 %}
            <a href="website/subjects/{{ id }}">View Subjects</a>
            {% elif request.user.type == 2 %}
            <a href="website/notes/{{ id }}">View Notes</a>
            <a href="website/subjects/{{ id }}">View Subjects</a>
            {% endif %}

        </li>
        {% endfor %}
    </ul>

</body>

</html>